@import url('https://fonts.googleapis.com/css2?family=Redacted&display=swap');


body {
  background-color: rgb(10, 134, 191);
  }
#bing_chilling {
  font-family: 'Inclusive Sans', sans-serif;
  color: rgb(22, 218, 153);
}
#cheese {
  font-family: 'Inclusive Sans', sans-serif;
  font-size: large;
  font-weight: 200;
  color: rgb(133, 224, 14);
}
#oogway {
  border-radius: 10px;
  border: 4px solid #86cf20;
  padding: 20px;
  width: 500px;
  height: 600px;
}
#redacted_cheese {
  font-family: 'Redacted', cursive;
  font-size: large;
  font-weight: 200;
  color: rgb(133, 224, 14);
}
.HeaderDiv {
  border: 5cm, solid, black;
  text-align: center;
  padding: 20px;
  border-radius: 25px;
}