body {
  background-color: aquamarine;
  }
#bing_chilling {
  font-family: 'Inclusive Sans', sans-serif;
}
#cheese {
  font-family: 'Inclusive Sans', sans-serif;
  font-size: large;
  font-weight: 200;
}